/Java/Scripts/Variables/nbproject/private/
/Java/Scripts/PrimerosPasos/nbproject/private/
/Java/Scripts/PrimerosPasos/build/
/Java/Scripts/Condicionales/nbproject/private/
/Java/Scripts/Condicionales/build/
