/* General */

*{
    margin:0px;
    padding:0px;
    font-family: 'Kufam', cursive;
}
.titulo{
    position: relative;
    font-size:40px;
    text-align: center;    
    display: block;
    left:200px;
    top:40px;
}
.imagen1{
    position:relative;
    float:left;
    left:36%;
    height:100px;
    top:15px;
}
.enunciado{
    font-size: 20px;
    margin-top: 150px;
    color:#252525;
    margin-left: 10px;
}
.enunciado a{
    color:#252525;
}
.copy{
    position: absolute;
    margin: 10px;
    width:100%;
}
form{
    width:550px;
    background-color:#f1f1e4;
    padding:20px;
    border-radius:5px;
    position:relative;
    left:210px;
    top:60px;
    widows:100%;
    margin:0px auto;
    outline:none;
    border:none;
    color:rgb(48, 47, 47);
    font-size:18px;
}
.enviar{
    background-color:#96ff8a;
    border:solid 2px;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 1px rgb(255, 255, 255);
    max-width:200px;
    color: #000000;
    padding:4px;
    font-size:16px;
    margin:6px;
}
.reset{
    background-color:#d3d037;
    border:solid 2px;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    max-width:250px;
    color:#000000;
    padding:4px;
    font-size:16px;
}
.enviar:hover{
    background-color:#1aff00;
    border-radius:8px;
    color:#000000;
}
.reset:hover{
    background-color:#faf606;
    border-radius:8px;
    color:#000000;
}
.reset:focus{
    border-color:#000000;
}
.enviar:focus{
    border-color:#000000;
}
input{
    font-size:15px;
    padding:6px;
    border:solid 2px #ccc;
    outline: none;
    margin: 0 auto;
    color:#999;
    width:532px;
}
input:focus{
    border-color:#287FF5;
}
select{
    font-size:15px;
    border:solid 2px #ccc;
    width:200px;
    color:rgb(46, 43, 43);
    outline: none;
    padding:5px;
}
form select:focus{
    border-color:#4e8b47;
}
.fechanac{
    font-size:16px;
    border: solid 2px #ccc;
    width:200px;
    
}
.required{
    margin-top:15px;
    font-size:18px;
    color:#b62c0a;
    padding-bottom:30px;
    text-decoration:underline;
    text-align: center;
}
.textarea{
    max-width: 550px;
    min-width: 550px;
    max-height: 70px;
    min-height: 70px;
    border:solid 2px #ccc;
    font-size:15px;
}
form input{
    width:535px;
    color: #2E2D2D;
}
.penviar{
    text-align:center;
}
.preset{
    text-align: center;
}
.caja{
    display: none;
}
.caja.ocultar{
    display: block;
    margin:20px;
    left:200px;
    position: relative;
    padding: 20px;
}
#btn{
    border:solid 2px;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 1px rgb(255, 255, 255);
    width:90px;
    color: #000000;
    padding:6px;
    font-size:16px;
    margin:6px;
    margin-left:430px;
    margin-top:70px;
}
table{
    background:white;
    text-align:center;
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 8px;
    margin:0px;
    border:solid 2px #000;
}
td a{
    text-decoration: none; 
}
.borrar{
        color: #ff0000;
        border:0px;
        font-family:'Kufam', cursive;
        padding:4px;
        width:20px;
        background: #e7afa1;
        font-size: 16px;
}
.editartd a{
    color: #0e4b50;
}
.borrarth{
    background: #e7afa1;
}
.borrartd{
    background: #e7afa1;
}
tr:hover{
    background:rgb(184, 178, 178);
}
.volver{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#d3d037;
    border:solid 2px;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    width:190px;
    color:#000000;
    padding:4px;
    font-size:16px;
}
.volver:hover{
    background-color:#faf606;
    border-radius:8px;
    color:#000000;
}
.pvolver{
    text-align: center;
}

/* Index */

body{
    background: #84FF76; 
    max-width:1015px; 
    display: block;
}
.h1index{
    position:absolute;
    font-size:40px;
    text-align:center;
    width:100%;
    margin-top:20px;
}
.h3index{
    position:absolute;
    font-size:22px;
    text-shadow:1px 0px 0px #000;
    width:100%;
    text-align:center;
    top:90px;
}
.img{
    position:relative;
    float:left;
    left:2px;
    height:100px;
    
}
.img2{
    position:relative;
    float:right;
    left: 334px;
    height:100px;
}

/* Menu desplegable */

#menu ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
#menu #item{
    float:left;
}
#menu #item a{
    color:black;
    background:#30B4BC;
    padding:12px 45px;
    display:block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px ;
    text-decoration:none;
}
#menu #desple{
    display:none;
    position:absolute;
    min-width:auto;
}
#menu #item:hover #desple{
    display:block;
}
#menu #item a:hover{
    color:#fff;
}
.divdesple{
    position:relative;
    left:270px;
    top:65px;
    widows:100%;
    margin:0px auto;
}
h2{
    font-size:35px;
}
.copy1{
    position:absolute;
    width:100%;
    text-align:center;
    margin-top:550px;
}

/* TipoSangre */

.imgsan2{
    position:relative;
    float:right;
    left:35px;
    height:100px;
    top:15px;
}

/* DOCENTE */

.imgdoc2{
    position:relative;
    float:right;
    left:15px;
    height:100px;
    top:15px;
}
.docente .caja.ocultar{
    display: block;
    margin:20px;
    float: left;
    left:1px;
    position: relative;
    padding: 20px;
}

/* ACUDIENTE */

.imgacu2{
    position:relative;
    float:right;
    left:35px;
    height:100px;
    top:15px;
}
.acudiente .caja.ocultar{
    display: block;
    margin:20px;
    left:240px;
    position: relative;
    padding: 20px;
}

/* ANOTACIÓN */

.imganot2{
    position:relative;
    float:right;
    left:30px;
    height:100px;
    top:15px;
}
.anotacion .caja.ocultar{
    display: block;
    margin:20px;
    position: absolute;
    padding: 20px;
}

/* TIPO DE FALTA */
.imgfal2{
    position:relative;
    float:right;
    left:30px;
    height:100px;
    top:15px;
}
.visualizar_falta{
    display: block;
    margin:20px;
    padding: 20px;
    position: relative;
    left:300px;
}
.enunciado_visualizar{
    font-size: 20px;
    margin-top: 50px;
    color:#252525;
    margin-left: 10px;
    text-align: center;
}
.enunciado_visualizar a{
    color:#252525;
}
.volver_falta{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#61ce40;
    border:solid 2px #000000;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    width:140px;
    color:#000000;
    padding:4px;
    font-size:16px;
    margin:20px;
}
.volver_falta:hover{
    color:#61ce40;
    background-color:#000000;
    border: solid 1px #fff;
}
/* ESTUDIANTE */

.imgest2{
    position:relative;
    float:right;
    left:30px;
    height:100px;
    top:15px;
}
.estudiante .caja.ocultar{
    display: block;
    margin:5px;
    position: relative;
    left:1px;
    padding:5px;
}
/* EPS */

.imgeps1{
    position:relative;
    float:left;
    left:43%;
    height:100px;
    top:15px;
}
.imgeps2{
    position:relative;
    float: right;
    right:45px;
    height:100px;
    top:15px;
}