{% extends 'layout.html' %}

{% block body %}

    {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <script>
                    alert('{{ msj }}')
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <center><h1>Bienvenido</h1></center>
    <div class="btns">
        <a class="btn" href="{{ url_for('add_cliente') }}">Agregar Cliente</a>
        <a class="btn" href="{{ url_for('ver_cliente') }}">Ver Clientes</a>
    </div>
{% endblock %}