{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update_docente/{{dato.0}}" method="POST">

            <div class="form-group">
                <input type="text" name="nombre" required placeholder="Nombre(s)" class="form-control" value="{{dato.1}}">
            </div>

            <div class="form-group">
                <input type="text" name="apellidos" required placeholder="Aapellidos" class="form-control" value="{{dato.2}}">
            </div>

            <div class="form-group">
                <label for="sexo">Género</label>
                <select name="sexo" id="sexo" class="form-control">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" name="asignatura" required placeholder="Asignatura" class="form-control" value="{{dato.4}}">
            </div>

            <div class="form-group">
                <input type="text" name="direccion" required placeholder="Dirección" class="form-control" value="{{dato.5}}">
            </div>

            <div class="form-group">
                <input type="text" name="telefono" required placeholder="Número telefónico" class="form-control" value="{{dato.6}}">
            </div>

            <div class="form-group">
                <input type="email" name="email" required placeholder="Email" class="form-control" value="{{dato.7}}">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Actualizar
                </button> 
            </div>
        
        </form>
    </div>
</div>



{% endblock %}
