{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update_acudiente/{{dato.0}}" method="POST">

            <div class="form-group">
                <input type="text" name="nombre" required placeholder="Nombre Completo" class="form-control" value="{{dato.1}}">
            </div>

            <div class="form-group">
                <input type="text" name="direccion" required placeholder="Dirección" class="form-control" value="{{dato.2}}">
            </div>

            <div class="form-group">
                <input type="text" name="num_doc" required placeholder="Número de Documento" class="form-control" value="{{dato.3}}">
            </div>

            <div class="form-group">
                <input type="text" name="telefono" required placeholder="Número telefónico" class="form-control" value="{{dato.4}}">
            </div>

            <div class="form-group">
                <input type="email" name="email" required placeholder="Email" class="form-control" value="{{dato.5}}">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Actualizar
                </button> 
            </div>

        </form>
    </div>
</div>
    

{% endblock %}