{% extends "layout.html" %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">Anecdotario Bosques de Pinares</h1>
    <hr class="my-4">
    <p class="lead">
        Bienvenido al anecdotario de la institución educativa Bosques de Pinares, donde podrás agregar a un estudiante, a un docente, a un acudiente o una asignatura.
    </p>
    <br>
    <p class="lead">
        Estamos ubicados en el barrio Bosques de Pinares (sede principal), barrio Simón Rodríguez y en el barrio Pinares de Armenia.
        Contamos con educación preescolar, educación básica y educación media, además, tenemos una articulacion técnica con el SENA de programación de software, diversos proyectos deeducacion ambiental y el proyecto alimenticio escolar. !MATRICÚLATE CON NOSOTROS¡
    </p>
</div>

{% endblock %}